/local
vendor/
examples/config.php

# Editor
.idea/

# Composer
/composer.lock
/composer.local.*
/composer.phar
.DS_Store

# Sami
build/
cache/
config/

# Unit
phpunit.xml
tests/private/

# coverage reports
coverage.clover
coverage.xml
clover.xml
report/
clover